### Exercise 1

Use webscrabing to retrieve the table data from https://www.worldometers.info/coronavirus/ and create a pandas DataFrame to show the data.

Clean Up the date by removing the '+' symbol from colums "NewDeaths" and "NewCases"
    HINT!! Be VERY observant in reguards to the amount of whitespace

In [114]:
import bs4
import requests
import pandas as pd
import numpy as np

r = requests.get('https://www.worldometers.info/coronavirus/')
r.raise_for_status()
soup = bs4.BeautifulSoup(r.text, 'html.parser')

columns = []
data = []
cities = []


for header in soup.find_all('th'):
    columns.append(header.getText()) 
    
for table_data in soup.find_all('td'):
    data.append(table_data.getText())
    
        
cities_tag = soup.find_all('td')
cities_tag_np = np.array(cities_tag)
cities_tag_np_2d = np.reshape(data,(int(len(data)/9),9))

df = pd.DataFrame(data=cities_tag_np_2d, columns=columns)

filter = df["NewCases"] != " "
dfNew = df[filter]

dfNew["NewCases"] = dfNew["NewCases"].str.slice(2,-1)

dfNew["NewDeaths"] = dfNew["NewDeaths"].str.slice(1,-1)


dfNew.head(30)

C:\Users\benja\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\benja\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotÂ Cases/1M pop
0,China,"80,761",26,"3,136",17,"60,115","17,510","4,794",56.1
1,Italy,"10,149",977,631,168,"1,004","8,514",877,167.9
2,Iran,"8,042",881,291,54,"2,731","5,020",,95.7
3,S. Korea,"7,513",35,58,5,247,"7,208",54,146.5
4,France,"1,784",372,33,3,12,"1,739",86,27.3
5,Spain,"1,690",459,35,5,135,"1,520",101,36.1
6,Germany,"1,458",234,2,,18,"1,438",9,17.4
7,USA,822,118,28,2,15,779,8,2.5
9,Japan,581,51,10,1,102,469,31,4.6
10,Switzerland,497,123,3,1,3,491,,57.4
11,Netherlands,382,61,4,,,378,1,22.3
12,UK,373,52,6,1,18,349,,5.5
13,Sweden,351,91,,,1,350,2,34.8
14,Norway,337,110,,,1,336,,62.2
15,Belgium,267,28,,,1,266,2,23.0
16,Denmark,262,172,,,1,261,,45.2
17,Austria,182,51,,,4,178,1,20.2
18,Singapore,166,6,,,93,73,10,28.4
19,Malaysia,129,12,,,87,42,2,4.0
20,Hong Kong,121,5,3,,59,59,6,16.1
21,Bahrain,110,1,,,30,80,1,64.6
22,Australia,103,10,3,,22,78,1,4.0
23,Greece,89,5,,,,89,1,8.5
24,Canada,80,3,1,,8,71,1,2.1
25,Iceland,76,11,,,1,75,,
26,UAE,74,15,,,12,62,2,7.5
28,Kuwait,69,4,,,1,68,3,16.2
29,Czechia,61,23,,,,61,,5.7
31,Israel,58,8,,,4,54,1,6.7
32,India,56,9,,,4,52,,