In [22]:
import numpy as np 
import pandas as pd 
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

headers = ["target","balance","scale","weight","distance"]

data = pd.read_csv("balance-scale.csv", header = None, names = headers)

data.head()

  target  balance  scale  weight  distance
0      B        1      1       1         1
1      R        1      1       1         2
2      R        1      1       1         3
3      R        1      1       1         4
4      R        1      1       1         5

In [23]:
y = data["target"]

print(y.head)

<bound method NDFrame.head of 0      B
1      R
2      R
3      R
4      R
      ..
620    L
621    L
622    L
623    L
624    B
Name: target, Length: 625, dtype: object>

In [26]:
x = data.drop("target",axis='columns')

x.head()

   balance  scale  weight  distance
0        1      1       1         1
1        1      1       1         2
2        1      1       1         3
3        1      1       1         4
4        1      1       1         5

In [32]:
x_train, x_test, y_train,y_test = train_test_split(x,y)

In [45]:
model = DecisionTreeClassifier(criterion = "gini", random_state=100,max_depth=3, min_samples_leaf=5)

model.fit(x_train,y_train)

y_predicted = model.predict(x_test)

accuracy_score(y_test, y_predicted)

TypeError: 'tuple' object is not callable

Exercise with linear regression

Import data using sklearn.datasets.load_diabetes

In [67]:
from sklearn.datasets import load_diabetes
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd


x = load_diabetes().data
y = load_diabetes().target


x_train, x_test, y_train,y_test = train_test_split(x,y)

model = LinearRegression()

model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [70]:
model.predict([[ 0.01628068, -0.04464164,  0.01750591, -0.02288496,  0.06034892,
0.0444058 ,  0.03023191, -0.00259226,  0.03723201, -0.0010777 ]])

array([170.076193])